@model List<store.Models.dataclass>

@{
    ViewBag.Title = "Store";
}
<div class="container">
    <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="~/img/shopping-cart.png" alt="" width="72" height="72">
        <h2>My Store</h2>
    </div>
    
            
    <h4 class="d-flex justify-content-between align-items-right mb-3">
        <span class="text-muted">Products</span>
        <a href="/Product/Create/" class="btn btn-sm btn-info float-right">
            Create
        </a>
    </h4>
                <div class="list-group mb-3">
                    <div class="list-group">
                        <div class=row>
                           
                            @foreach (var item in Model)
                            {
                                <div class="col-md-6 col-sm-12 col-lg-4">
                                    <div class="card-deck mb-6 text-center">
                                        <div class="card mb-4 ml-4 box-shadow">
                                            <div class="card-header">
                                                <h4 class="my-0 font-weight-normal">@item.Name</h4>
                                            </div>
                                            <div class="card-body">
                                                <ul class="list-unstyled  ">
                                                    <li><span>ID: @item.ID </span></li>
                                                    <li><span>Name: @item.Name</span></li>
                                                    <li><span>Quantity: @item.Quantity</span></li>
                                                    <li><span>Retail Price: @item.RetailPrice</span></li>
                                                    <li><span>Unit Price: @item.UnitPrice</span></li>
                                                </ul>
                                                <a class="btn btn-sm btn-warning" href="/Product/Edit/@item.ID">Edit</a>
                                                <a class="btn btn-sm btn-danger" href="/Product/DeleteItem/@item.ID">Delete</a>
                                                @*@using (Html.BeginForm(FormMethod.Post))
        {
            <button type="submit" class="btn btn-sm btn-warning" va>Delete</button>
        }*@
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            }

                        </div>

                    </div>
        </div>
    </div>
            @*<li><a href="@Url.Action("Newpage/"+item.ID)"><font size="3" color="#1c87c9"> @item.Name</font></a></li>*@





